body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
}

* {
    box-sizing: border-box;
}

/*Estilo del Div que engloba todos los demás div*/
.App {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center; */
}

/*Estilo de la barra de navegación*/
nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: rgb(204, 160, 102);
    transition: top 500ms ease-in-out;
}

/*Estilo de la etiqueta de la barra de navegación*/
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

 /*Estilo de los links de la barra de navegación*/
.links {
    /* display: flex; */
    /* margin-right: -1rem; */
}

.links a {
    /* display: inline-block; */
    /* margin: 0 1rem; */
    margin-left: 2rem;
}

/*Estilo del logo*/
.logo {
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 1rem;
}

/*Estilo de etiquetas y cajas de texto para información de contacto*/
label {
    margin: 10px;
}

input {
    margin: 10 px;
}

.table-tec {
    text-align: center;
}

.table-tec table {
    margin: auto;
}
/*Estilo de la tabla*/
table, th, td {
    border: 1px dotted rgb(195, 11, 173);
    text-align: center;
}

/*Estilo botón de "envíame un correo"*/
.mail {
    padding: 10px;
    background-color: rgb(150, 85, 160);
    border-radius: 3px;
    text-decoration: none;
    color: antiquewhite;
}

textarea {
    resize: none;
}

.main-footer {
    text-align: center;
}

.main-footer a {
    text-decoration: none;
}